// Variables
$mainColour: #FF9000;
$mainColourLight: #FFB85C;
$ws: 15px;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Styles
.table-centered
{
  margin: 0 auto !important;
  float: none !important;
}

li.active>a{ background-color: white !important; color: $mainColour !important;}

input{ margin: $ws 0 0 $ws !important; }

label{
	position: relative;
	top: 10px;
}

#body{
	border: 1px solid $mainColourLight;
	@include border-radius(10px);
}

.navbar-toggle{
	background-color: $mainColour !important;
}

#header{
	background-color: transparent;
	border: none;
}

.btn{
	margin: $ws !important;
}

.accent
{
	background-color: $mainColour;
	color: white !important;
	border-color: $mainColour !important;
}

.accent:hover
{
	background-color: $mainColourLight !important;
}

a{ color: white; } 


div.row{ margin-top: 35px; }

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul{ 
	list-style-type: none; 
	position: relative;
	left:-20px;
}
li{cursor: pointer;}
li:hover{
  background-color: $mainColour;
}

